In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import pylab as pl
from pylab import rcParams
rcParams['figure.figsize'] = 12, 8
import matplotlib.pyplot as pl
import seaborn as sns
from IPython.display import Image
import plotly.plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
import plotly.graph_objs as go
import matplotlib.pyplot as plt

# Objective

This notebook is to clean the data. More interesting process will be in airbnb-analyze.ipynb.

# Clean data

In [2]:
data = pd.read_csv('train.csv')
data.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117.0,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [3]:
data.shape

(74111, 29)

In [4]:
data.columns.values

array(['id', 'log_price', 'property_type', 'room_type', 'amenities',
       'accommodates', 'bathrooms', 'bed_type', 'cancellation_policy',
       'cleaning_fee', 'city', 'description', 'first_review',
       'host_has_profile_pic', 'host_identity_verified',
       'host_response_rate', 'host_since', 'instant_bookable',
       'last_review', 'latitude', 'longitude', 'name', 'neighbourhood',
       'number_of_reviews', 'review_scores_rating', 'thumbnail_url',
       'zipcode', 'bedrooms', 'beds'], dtype=object)

In [5]:
data = data.drop(['thumbnail_url','review_scores_rating','name','neighbourhood','zipcode','amenities','host_response_rate','description', 'first_review',
       'host_has_profile_pic', 'host_identity_verified',
       'host_response_rate', 'host_since', 'instant_bookable',
       'last_review', 'latitude', 'longitude','cancellation_policy','bathrooms'], axis=1)

In [6]:
data.isnull().sum()

id                     0
log_price              0
property_type          0
room_type              0
accommodates           0
bed_type               0
cleaning_fee           0
city                   0
number_of_reviews      0
bedrooms              91
beds                 131
dtype: int64

In [7]:
data = data.dropna()

In [8]:
from IPython.display import clear_output
n = len(data)

for index, row in data.iterrows():
    
    if index==0:
        display('Processing: 0%')
    elif index%100 == 0:
        clear_output()
        display('Processing: ')
        display(str(round(index/n,2)*100)+" %")
        
    if row['property_type'] in data.columns.values:
        data.loc[index,'property_type'] = 1
    else:
        data[row['property_type']] = 0
        data.loc[index,row['property_type']] = 1
        
    if row['city'] in data.columns.values:
        data.loc[index,row['city']] = 1
    else:
        data[row['city']] = 0
        data.loc[index,row['city']] = 1 
                 
    if row['bed_type'] in data.columns.values:
        data.loc[index,row['bed_type']] = 1
    else:
        data[row['bed_type']] = 0
        data.loc[index,row['bed_type']] = 1
                 
    if row['cleaning_fee'] == "TRUE":    
        data.loc[index,'cleaning_fee'] = 1
    else:
        data.loc[index,'cleaning_fee'] = 0

data.head()

'Processing: '

'100.0 %'

,id,log_price,property_type,room_type,accommodates,bed_type,cleaning_fee,city,number_of_reviews,bedrooms,...,Hut,Casa particular,Chalet,Yurt,Earth House,Parking Space,Train,Cave,Lighthouse,Island
0,6901257,5.010635,Apartment,Entire home/apt,3,Real Bed,0,NYC,2,1.0,...,0,0,0,0,0,0,0,0,0,0
1,6304928,5.129899,1,Entire home/apt,7,Real Bed,0,NYC,6,3.0,...,0,0,0,0,0,0,0,0,0,0
2,7919400,4.976734,1,Entire home/apt,5,Real Bed,0,NYC,10,1.0,...,0,0,0,0,0,0,0,0,0,0
3,13418779,6.620073,House,Entire home/apt,4,Real Bed,0,SF,0,2.0,...,0,0,0,0,0,0,0,0,0,0
4,3808709,4.744932,1,Entire home/apt,2,Real Bed,0,DC,4,0.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.to_csv("cleaned_airbnb.csv",sep=",")